*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  color: #666;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #828282;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0em;
}

img {
  max-width: 100%;
  padding: 30px 30px 30px 30px;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

.header {
  background-color: #D9ECEC;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 525px;
  padding-top: 80px;
}

.header h1 {
  color: black;
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1.5px;
  opacity: 10;
  /*top: 370px;*/
  font-weight: 800;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.header p {
  color: black;
  font-size: 1.1rem;
  opacity: 10;
  /*top: 360px;*/
  font-family: "Lato", sans-serif;
  text-align: center;
}

section h1 {
  font-size: 1.8rem;
  line-height: 1em;
  margin-bottom: .6em;
}

/* Same font-size and line-height as p element */
section ul li, section ol li {
  font-size: 1rem;
  margin-left: -10px;
  line-height: 1.8;
}

 
footer {
  color: black;
  background-color: #D9ECEC;
  padding-bottom: 10px;
  text-transform: lowercase;
  letter-spacing: 1.2px;
}

footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

/* ------------------- Grid -------------------*/

.container {
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}

.container-edu{
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
}

.education{
  flex:1;
}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  height: 50%;
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.row {
  *zoom: 1;
}


.grid-2,
.grid-4{
  float: left;
  width:100%;
  padding: 0% 1%;
  margin-left: auto;
  margin-right: auto;
}

.grid-4{
  padding-right: 5%;
}

/* Experience */
.experience [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.experience h2 {
  margin-bottom: 0;
}

.experience h2, .experience p {
  text-align: center;
}

.experience [class*="row"]:last-of-type {
  border: none;
}

.experience [class*="grid-2"]{
  padding-left: 5%;
  padding-right: 5%;
}

.experience [class*="grid-4"]{
  padding-left: 7%;
  padding-right: 7%;
}

.experience {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  margin: 0 auto;
  padding-top: 45px;
}

.education, .expertise, .certifications {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

.education, .expertise{
  padding-top: 45px;
}

.navbar{
  background: #D9ECEC;
  text-align: center;
  margin: auto;
  width: 100%;
  position: fixed;
  padding: 10px;
}

.navbar li{
  display: inline;
  padding: 0px 10px 0px 10px;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: black;
  line-height: 2;
  letter-spacing: 1.3px;
  text-transform: lowercase;
}

a{
  color:black;
}

.img-circle {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.quote{
  font-style: bold;
  font-size: 1.3rem;
}

.navbar-home{
  background: white;
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
  position: fixed;
  border-bottom: 1px solid white;
}

.navbar-home li{
  display: inline;
  padding: 0px 10px 0px 10px;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: black;
  line-height: 2;
  letter-spacing: 1.3px;
  text-transform: lowercase;
}

.logo-icons{
  background: white;
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 5px;
}

.logo-icons li{
  display: inline;
  margin: auto;
}

.logo-icons img{
  height: 33%;
  width:33%;
  display:inline;
}

.contact-me{
  background: #D9ECEC;
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.contact-me li{
  display: inline;
  padding: 0px 10px 0px 10px;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: black;
  line-height: 2;
  letter-spacing: 1.3px;
  text-transform: lowercase;
}

@media screen and (min-width: 40em) {
  .experience h2, .experience p {text-align: left;}
  .education, .experience, .contact, .expertise {padding-top: 55px;}
  .experience {width: 80%;}
  .grid-2 { width: 33.3333333%;}
  .grid-4 { width: 66.6666666%;}
  .header {padding-top: 50px; height: 460px;}
}
